In [1]:
import pandas as pd

In [3]:
cumulative_miles = pd.Series(
    [55, 120, 180, 245, 310],
    index=["Day 1", "Day 2", "Day 3", "Day 4", "Day 5"]
)

cumulative_miles

Day 1     55
Day 2    120
Day 3    180
Day 4    245
Day 5    310
dtype: int64

In [5]:
daily_miles = cumulative_miles.diff()
daily_miles.iloc[0] = cumulative_miles.iloc[0]

daily_miles

Day 1    55.0
Day 2    65.0
Day 3    60.0
Day 4    65.0
Day 5    65.0
dtype: float64

In [7]:
miles_df = pd.DataFrame({
    "Cumulative Miles": cumulative_miles,
    "Miles Ridden Each Day": daily_miles
})

miles_df

       Cumulative Miles  Miles Ridden Each Day
Day 1                55                   55.0
Day 2               120                   65.0
Day 3               180                   60.0
Day 4               245                   65.0
Day 5               310                   65.0

### Bicycle Trip Mileage Analysis (Assignment 3)

This notebook examines bicycle mileage tracked over a period of several days. The collected odometer readings were stored in a pandas Series. By calculating the difference between successive cumulative values, the daily miles ridden were determined. The table above displays both the total mileage and the number of miles traveled each day.